$color_1: #fff;
$color_2: #333;
$color_3: #72009F;
$color_4: #FF66A2;
$color_5: #009EFF;

$text_color_1: $color_2;
$text_color_2: $color_1;
$text_color_3: $color_1;
$text_color_4: $color_1;
$text_color_5: $color_1;
